body {
    background-color: bisque;
}

#switch {
    margin-left: 40%;
    
}

button {
    position: relative;
    font-family: Tagesschrift;
    z-index: 100;
    padding: 5px;
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 13px;
    border-radius: 20px;
    font-size: 18px;
    margin-right: 25px;
    border: 4px solid rgb(26, 81, 4);
    color: rgb(26, 81, 4);
    transition: 2s;
    transition-delay: 0.1s;
    font-weight: bold;
}

button:hover {
    background-color: rgb(24, 79, 3);
    color: white;
    transform: scale(1.09);
    cursor: pointer;
}

#nav p
{
    font-size: xx-large;
    
}

@media screen and(max-height:1800px) {
    .description div {
        float: left;
        margin-right: 79px;
        margin-left: -4%;
    }

}

#login,#signin
{
    background-color: none;
    width: 100%;
    border: 4px solid rgb(26, 81, 4);   
}
#login:hover
{
    background-color: rgb(24, 79, 3);
    color: white;
    
    
}